 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 7292px;
}

.u-section-1 .u-video-1 {
  width: 580px;
  height: 461px;
  margin: 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-poster-1 {
  width: 56%;
  left: 22%;
  height: 56%;
  top: 22%;
  background-image: url(images/golden-capa.jpg);
  background-position: 50% 20.19%;
}

.u-section-1 .u-image-1 {
  width: 580px;
  height: 1036px;
  margin: -414px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -305px auto 0 685px;
  padding: 5px 60px 7px 59px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -60px auto 0 430px;
  padding: 5px 42px 7px;
}

.u-section-1 .u-image-2 {
  width: 580px;
  height: 1036px;
  margin: 245px auto 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#3fc7d3, #72efe9);
  margin: -294px auto 0 390px;
  padding: 18px 48px 20px 47px;
}

.u-section-1 .u-image-3 {
  width: 580px;
  height: 1036px;
  margin: 227px auto 0;
}

.u-section-1 .u-image-4 {
  width: 580px;
  height: 1036px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#7046cc, #292e33);
  margin: -152px auto 0 444px;
  padding: 18px 48px 20px 47px;
}

.u-section-1 .u-image-5 {
  width: 580px;
  height: 1036px;
  margin: 86px auto 0;
}

.u-section-1 .u-slider-1 {
  min-height: 375px;
  height: auto;
  width: 540px;
  margin: -652px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-6 {
  width: 379px;
  height: 304px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 50px 30px;
}

.u-section-1 .u-image-7 {
  width: 323px;
  height: 317px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  width: 339px;
  height: 304px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-9 {
  height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-10 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-image-11 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-image-12 {
  width: 580px;
  height: 1036px;
  margin: 277px auto 0;
}

.u-section-1 .u-image-13 {
  width: 580px;
  height: 1036px;
  margin: -7px auto 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7294px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 334px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 341px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -317px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 250px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -151px;
    margin-left: 357px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 85px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 497px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 240px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 200px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -415px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -304px;
    margin-right: 125px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 126px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 244px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -318px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 244px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -148px;
    margin-left: 136px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 81px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -643px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 268px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 0;
    margin-bottom: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6791px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 429px;
  }

  .u-section-1 .u-image-1 {
    height: 965px;
    margin-top: -393px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -294px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 50px;
  }

  .u-section-1 .u-image-2 {
    height: 965px;
    margin-top: 234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -294px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-3 {
    height: 965px;
    margin-top: 227px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 965px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -143px;
    margin-left: 50px;
  }

  .u-section-1 .u-image-5 {
    height: 965px;
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -652px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 965px;
    margin-top: 277px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: 965px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5037px;
  }

  .u-section-1 .u-video-1 {
    height: 318px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 715px;
    margin-top: -287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: -208px;
    margin-right: 39px;
    padding: 0 32px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: -38px;
    margin-left: 38px;
    padding: 0 18px;
  }

  .u-section-1 .u-image-2 {
    height: 715px;
    margin-top: 170px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: -216px;
    margin-left: 14px;
    padding: 17px 27px 19px 26px;
  }

  .u-section-1 .u-image-3 {
    height: 715px;
    margin-top: 157px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 715px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -106px;
    margin-left: 38px;
    padding: 12px 18px 13px 16px;
  }

  .u-section-1 .u-image-5 {
    height: 715px;
    margin-top: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -519px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    width: 291px;
    height: 249px;
  }

  .u-section-1 .u-image-8 {
    width: 313px;
    height: 281px;
  }

  .u-section-1 .u-image-9 {
    height: 254px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-12 {
    height: 715px;
    margin-top: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 715px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}